<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/sidenav.css">
    <link rel="stylesheet" href="../css/uploadnotes.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <a href="/user/<%=id%>">
                        <img src="../profilePictures/<%=profile_pic%>" alt="">
                    </a>
                </span>

                <div class="text logo-text">
                    <span class="name">
                        <%=name%>
                    </span>
                    <span class="profession">@<%=username%></span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/user/<%=id%>">
                            <i class='bx bxs-user icon'></i>
                            <span class="text nav-text">User Profile</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/notes/<%=id%>">
                            <i class='bx bx-book-open icon'></i>
                            <span class="text nav-text">Notes</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-upload icon'></i>
                            <span class="text nav-text">Upload Notes</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="/logout">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>

    </nav>

    <section class="home">
        <div class="text">
            <div class="zone">
                <!-- < action="/uploadnotes/:id" method="post" enctype="multipart/form-data"> -->
                    <div id="dropZ">
                        <div class="content">
                            <i class='bx bxs-cloud-upload'></i>
                            <div>Drag and drop your file here</div>

                            <p class="filelimit">File size limit : 10 MB</p>

                        </div>
                        <div class="selectFile">
                            <label for="file">Select file</label>
                            <input type="file" name="upload_files" id="file">
                        </div>

                    </div>

                    <input type="text" class="topic" name="topic" placeholder="Topic of the note">
                    <button class="submit" type="submit">Upload</button>

                
            </div>
        </div>
    </section>



    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text");


        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
            console.log("clicked");
        })

        // searchBtn.addEventListener("click" , () =>{
        //     sidebar.classList.remove("close");
        // })

        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");

            if (body.classList.contains("dark")) {
                modeText.innerText = "Light mode";
            } else {
                modeText.innerText = "Dark mode";

            }
        });

    </script>
    <script>

        const btn = document.querySelector('.submit');
        btn.addEventListener('click', async (e) => {
            
            const topic = document.querySelector('.topic').value;
            
            if (topic == '') {
                alert("Please give a topic of the note")
            }

        })
    </script>
</body>

</html>